<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/travel"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LandmarksActivity"
            android:label="@string/category_landmarks"
            android:theme="@style/LandmarksTheme"/>
        <activity
            android:name=".RestaurantsActivity"
            android:label="@string/category_restaurants"
            android:theme="@style/RestaurantsTheme"/>
        <activity
            android:name=".NightlifeActivity"
            android:label="@string/category_nightlife"
            android:theme="@style/NightlifeTheme"/>
        <activity
            android:name=".HotelsActivity"
            android:label="@string/category_hotels"
            android:theme="@style/HotelsTheme">
        </activity>
    </application>

</manifest>